<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学籍变更</title>
    <link href="/static/zui.min.css" rel="stylesheet">
    <link href="/static/zui.datagrid.min.css" rel="stylesheet">
</head>
<body>
<script src="/static/jquery.js"></script>
<script src="/static/zui.min.js"></script>
<script src="/static/zui.datagrid.min.js"></script>
<script src="/static/gaoliang.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="navig">
            <nav class="navbar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse-example">
                            <span class="sr-only">切换导航</span>
                            <span class="navbar-inverse icon-bar"></span>
                            <span class="navbar-inverse icon-bar"></span>
                            <span class="navbar-inverse icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/change">学籍变更</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-collapse-example">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">系统维护 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/department">院系设置</a></li>
                                    <li><a href="/class">班级管理</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">学生管理 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/student">学生管理</a></li>
                                    <li><a href="/search">学生信息查询</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">教务管理 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/change">学籍变更</a></li>
                                    <li><a href="/reward">奖励情况</a></li>
                                    <li><a href="/punish">处罚情况</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div id="remote" class="datagrid">
                <div class="input-control search-box search-box-circle has-icon-left has-icon-right"
                     id="searchboxExample2" style="margin-bottom: 10px; max-width: 300px">
                    <input id="inputSearchExample2" type="search" class="form-control search-input" placeholder="搜索">
                    <label for="inputSearchExample2" class="input-control-icon-left search-icon"><i
                            class="icon icon-search"></i></label>
                    <a href="#" class="input-control-icon-right search-clear-btn"><i class="icon icon-remove"></i></a>
                </div>
                <div class="datagrid-container"></div>
                <div class="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#remote').datagrid({
        states: {
            pager: {page: 1}
        },
        dataSource: {
            cols: [
                {name: 'studentid', label: '学号', width: 0.3},
                {name: 'changess', label: '变更类型', width: 0.3},
                {name: 'recdate', label: '变更日期', width: 0.3},
            ],
            remote: function () {
                return {
                    url: '/changedata',
                    type: 'GET',
                    dataType: 'json'
                };
            }
        },
        height: window.innerHeight - document.getElementById("navig").clientHeight - 97,
        sortable: true,
        checkable: true,
        selectable: true,
        checkByClickRow: true,
    });
    $("#inputSearchExample2").on("input propertychange",
        function () {
            var inputv = $("#inputSearchExample2").val();
            $('.datagrid-cell-cell').GL
            (
                {
                    ocolor: 'red',
                    oshuru: inputv
                }
            );
        }
    );
    $('#remote').on("onRender",
        function () {
            var inputv = $("#inputSearchExample2").val();
            $('.datagrid-cell-cell').GL
            (
                {
                    ocolor: 'red',
                    oshuru: inputv
                }
            );
        }
    );
</script>
</body>
</html>