<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/zui.min.css" rel="stylesheet">
    <link href="/static/zui.datagrid.min.css" rel="stylesheet">
</head>
<body>
<script src="/static/jquery.js"></script>
<script src="/static/zui.min.js"></script>
<script src="/static/zui.datagrid.min.js"></script>
<div id="remotechange" class="datagrid">
    <div class="datagrid-container"></div>
    <div class="pager"></div>
</div>
<script>
    $('#remotechange').datagrid({
        states: {
            pager: {page: 1}
        },
        dataSource: {
            cols: [
                {name: 'studentid', label: '学号', width: 0.3},
                {name: 'changess', label: '变更类型', width: 0.3},
                {name: 'recdate', label: '变更日期', width: 0.3},
            ],
            remote: function () {
                return {
                    url: '/changedata',
                    type: 'GET',
                    dataType: 'json'
                };
            }
        }
    });
</script>
</body>
</html>