<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>班级管理</title>
    <link href="/static/zui.min.css" rel="stylesheet">
    <link href="/static/zui.datagrid.min.css" rel="stylesheet">
</head>
<body>
<script src="/static/jquery.js"></script>
<script src="/static/zui.min.js"></script>
<script src="/static/zui.datagrid.min.js"></script>
<script src="/static/gaoliang.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="navig">
            <nav class="navbar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse-example">
                            <span class="sr-only">切换导航</span>
                            <span class="navbar-inverse icon-bar"></span>
                            <span class="navbar-inverse icon-bar"></span>
                            <span class="navbar-inverse icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/punish">处罚情况</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-collapse-example">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">系统维护 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/department">院系设置</a></li>
                                    <li><a href="/class">班级管理</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">学生管理 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/student">学生管理</a></li>
                                    <li><a href="/scores">成绩管理</a></li>
                                    <li><a href="/search">学生信息查询</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">教务管理 <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/change">学籍变更</a></li>
                                    <li><a href="/reward">奖励情况</a></li>
                                    <li><a href="/punish">处罚情况</a></li>
                                    <li><a href="/courses">课程管理</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="remote" class="datagrid">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <button id="insert" type="button" class="btn btn-primary btn-block">插入</button>
                        </li>
                        <li>
                            <button id="modify" type="button" class="btn btn-info btn-block">修改</button>
                        </li>
                        <li>
                            <button id="delete" type="button" class="btn btn-danger btn-block">删除</button>
                        </li>
                        <li>
                            <button id="refresh" type="button" class="btn btn-success btn-block">刷新</button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="input-control search-box search-box-circle has-icon-left has-icon-right"
                                 id="searchboxExample2" style="margin-bottom: 10px; max-width: 300px">
                                <input id="inputSearchExample2" type="search" class="form-control search-input"
                                       placeholder="搜索">
                                <label for="inputSearchExample2" class="input-control-icon-left search-icon"><i
                                        class="icon icon-search"></i></label>
                                <a href="#" class="input-control-icon-right search-clear-btn"><i
                                        class="icon icon-remove"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="datagrid-container"></div>
                <div class="pager"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="insertDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" action="/punish" method="POST">
                <input style="display: none;" id="numi" name="numi">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">插入数据</h4>
                </div>
                <input style="display: none;" id="posttype" name="posttype">
                <div class="modal-body">
                    <div id="dvvc">
                        <h5>对照</h5>
                        <div id="selectedRows" class="datagrid"></div>
                        <hr>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><h5>新行</h5></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button id="addLine" type="button" class="btn btn-primary">Add</button>
                            </li>
                        </ul>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>学号</th>
                            <th>处罚类型</th>
                            <th>处罚日期</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="addtable">
                        <tr>
                            <td>1</td>
                            <td><select name="newstudentid1"></select></td>
                            <td><input name="newpunishtype1" class="form-control"></td>
                            <td><input type="date" name="newrecdate1" class="form-control"></td>
                            <td><a href="" id="delete1" class="text-danger"><i class="icon-trash"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">插入</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" action="/punish" method="POST">
                <input style="display: none;" id="posttype2" name="posttype">
                <input style="display: none;" id="numj" name="numj">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">修改数据</h4>
                </div>
                <div class="modal-body">
                    <table class="modifytable">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>学号</th>
                            <th>处罚类型</th>
                            <th>处罚日期</th>
                        </tr>
                        </thead>
                        <tbody id="modifieddata">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" action="/punish" method="POST">
                <input style="display: none;" id="numk" name="numk">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">删除数据</h4>
                </div>
                <input style="display: none;" id="posttype3" name="posttype">
                <input style="display: none;" id="deletekeys" name="deletekeys">
                <div class="modal-body">
                    <div>
                        <div id="selectedRows2" class="datagrid"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">删除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    {% if inserterror == "True" %}
        new $.zui.Messager('数据插入失败', {
            close: false,
            type: 'danger'
        }).show();
    {% endif %}
    {% if inserterror == "False" %}
        new $.zui.Messager('数据插入成功', {
            close: false,
            type: 'success'
        }).show();
    {% endif %}
    {% if modifysuccessednum %}
        new $.zui.Messager('{{ modifysuccessednum }} 条数据修改成功, {{ modifyunsuccessednum }} 条失败', {
            close: false
        }).show();
    {% endif %}
    {% if deletesuccessednum %}
        new $.zui.Messager('{{ deletesuccessednum }} 条数据删除成功, {{ deleteunsuccessednum }} 条失败', {
            close: false,
        }).show();
    {% endif %}
    $('#remote').datagrid({
        states: {
            pager: {page: 1}
        },
        dataSource: {
            cols: [
                {name: 'pid', label: '编号', width: 0.1},
                {name: 'studentid', label: '学号', width: 0.3},
                {name: 'punish', label: '处罚类型', width: 0.3},
                {name: 'recdate', label: '处罚日期', width: 0.3},
            ],
            remote: function () {
                return {
                    url: '/punishdata',
                    type: 'GET',
                    dataType: 'json'
                };
            }
        },
        height: window.innerHeight - document.getElementById("navig").clientHeight - 97,
        sortable: true,
        checkable: true,
        selectable: true,
        checkByClickRow: true,
    });
    var kkk;
    $('#selectedRows').datagrid({
        dataSource: {
            cols: [
                {name: 'pid', label: '编号', width: 0.1},
                {name: 'studentid', label: '学号', width: 0.3},
                {name: 'punish', label: '处罚类型', width: 0.3},
                {name: 'recdate', label: '处罚日期', width: 0.3},
            ],
            array: []
        },
        height: window.innerHeight / 5
    });
    $('#selectedRows2').datagrid({
        dataSource: {
            cols: [
                {name: 'pid', label: '编号', width: 0.1},
                {name: 'studentid', label: '学号', width: 0.3},
                {name: 'punish', label: '处罚类型', width: 0.3},
                {name: 'recdate', label: '处罚日期', width: 0.3},
            ],
            array: []
        },
        height: window.innerHeight / 5
    });

    var remote = $('#remote').data('zui.datagrid');
    var selectedRowsObj = $("#selectedRows").data('zui.datagrid');
    var selectedRowsObj2 = $("#selectedRows2").data('zui.datagrid');
    var selectedRowsData = [];
    var selectedRows;
    $("#insert").click(function () {
        selectedRowsData = remote.getCheckItems();
        if (Array.isArray(selectedRowsData) && selectedRowsData.length === 0) {
            $("#dvvc").hide();
        }
        else {
            selectedRows = {
                cols: [
                    {name: 'pid', label: '编号', width: 0.1},
                    {name: 'studentid', label: '学号', width: 0.3},
                    {name: 'punish', label: '处罚类型', width: 0.3},
                    {name: 'recdate', label: '处罚日期', width: 0.3},
                ],
                array: selectedRowsData,
            };
            selectedRowsObj.setDataSource(selectedRows);
            $("#dvvc").show();
        }
        $.getJSON('/stu', function (data) {
            $.each(data, function (i, n) {
                for (var m = 0; m < n.length; m++) {
                    kkk = "<option value=\"";
                    kkk += n[m] + "\">" + n[m] + "</option>";
                    $("select").append(kkk);
                }
            });
        });
        $('#posttype').val("insert");
        $("#insertDialog").modal('toggle', 'center');
    });
    $("#delete").click(function () {
        selectedRowsData = remote.getCheckItems();
        if (Array.isArray(selectedRowsData) && selectedRowsData.length === 0) {
            new $.zui.Messager('未选择数据！', {
                close: false,
                type: 'danger'
            }).show();
        }
        else {
            var keys = "";
            selectedRows = {
                cols: [
                    {name: 'pid', label: '编号', width: 0.1},
                    {name: 'studentid', label: '学号', width: 0.3},
                    {name: 'punish', label: '处罚类型', width: 0.3},
                    {name: 'recdate', label: '处罚日期', width: 0.3},
                ],
                array: selectedRowsData,
            };
            selectedRowsObj2.setDataSource(selectedRows);
            $('#posttype3').val("delete");
            $('#numk').val(selectedRowsData.length.toString());
            for (var i = 0; i < selectedRowsData.length; i++) {
                keys += selectedRowsData[i].pid + " ";
            }
            $('#deletekeys').val(keys);
            $("#deleteDialog").modal('toggle', 'center');
        }
    });
    $("#modify").click(function () {
        selectedRowsData = remote.getCheckItems();
        if (Array.isArray(selectedRowsData) && selectedRowsData.length === 0) {
            new $.zui.Messager('未选择数据！', {
                close: false,
                type: 'danger'
            }).show();
        }
        else {
            $('#modifieddata').html("");
            var str;
            for (var i = 0; i < selectedRowsData.length; i++) {
                str = "";
                str += "<tr><td><input readonly=\"readonly\" name=\"pid" + i.toString() + "\" value=\"" + selectedRowsData[i].pid + "\" class=\"form-control\"></td>";
                str += "<td><select name=\"modstudentid" + selectedRowsData[i].pid + "\"></td>";
                str += "<td><input name=\"modpunishtype" + selectedRowsData[i].pid + "\" value=\"" + selectedRowsData[i].punish + "\" class=\"form-control\"></td>";
                str += "<td><input type=\"date\" name=\"modrecdate" + selectedRowsData[i].pid + "\" value=\"" + selectedRowsData[i].recdate + "\" class=\"form-control\"></td></tr>";
                $("#modifieddata").append(str);
                $.getJSON('/stu', function (data) {
                    $.each(data, function (index, n) {
                        for (var m = 0; m < n.length; m++) {
                            if (n[m] === selectedRowsData[i - 1].studentid) {
                                kkk = "<option selected value=\"";
                                kkk += n[m] + "\">" + n[m] + "</option>";
                            }
                            else {
                                kkk = "<option value=\"";
                                kkk += n[m] + "\">" + n[m] + "</option>";
                            }
                            $("select").append(kkk);
                        }
                    });
                });
            }
            $('#posttype2').val("modify");
            $('#numj').val(selectedRowsData.length.toString());
            $("#modifyDialog").modal('toggle', 'center');
        }
    });
    var newlinesNum = 1;
    $('#numi').val(newlinesNum.toString());
    $("#addLine").click(function () {
        newlinesNum += 1;
        var tr = "<tr><td>" + newlinesNum.toString() + "</td>" +
            "<td><select name=\"newstudentid" + newlinesNum.toString() + "\"></td>" +
            "<td><input name=\"newpunishtype" + newlinesNum.toString() + "\" placeholder=\"姓名\" class=\"form-control\"></td>" +
            "<td><input type=\"date\" name=\"newrecdate" + newlinesNum.toString() + "\" placeholder=\"性别\" class=\"form-control\"></td></tr>";
        $('#addtable').append(tr);
        $.getJSON('/stu', function (data) {
            $.each(data, function (i, n) {
                for (var m = 0; m < n.length; m++) {
                    kkk = "<option value=\"";
                    kkk += n[m] + "\">" + n[m] + "</option>";
                    $("select").append(kkk);
                }
            });
        });
        $('#numi').val(newlinesNum.toString());
    });
    $("#refresh").click(function () {
        $('#inputSearchExample2').val("00");
        $('#inputSearchExample2').val("");
        remote.render();
    });

    $("#inputSearchExample2").on("input propertychange",
        function () {
            var inputv = $("#inputSearchExample2").val();
            $('.datagrid-cell-cell').GL
            (
                {
                    ocolor: 'red',
                    oshuru: inputv
                }
            );
        }
    );
    $('#remote').on("onRender",
        function () {
            var inputv = $("#inputSearchExample2").val();
            $('.datagrid-cell-cell').GL
            (
                {
                    ocolor: 'red',
                    oshuru: inputv
                }
            );
        }
    );
</script>
</body>
</html>